/.gradle/8.4/checksums/checksums.lock
/.gradle/8.4/dependencies-accessors/dependencies-accessors.lock
/.gradle/8.4/dependencies-accessors/gc.properties
/.gradle/8.4/executionHistory/executionHistory.bin
/.gradle/8.4/executionHistory/executionHistory.lock
/.gradle/8.4/fileChanges/last-build.bin
/.gradle/8.4/fileHashes/fileHashes.bin
/.gradle/8.4/fileHashes/fileHashes.lock
/.gradle/8.4/fileHashes/resourceHashesCache.bin
/.gradle/8.4/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.gradle/file-system.probe
/.idea/modules/weather-backend.test.iml
/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/build/classes/java/main/com/example/weather/controller/WeatherController.class
/build/classes/java/main/com/example/weather/exception/GlobalExceptionHandler.class
/build/classes/java/main/com/example/weather/initializer/DataInitializer.class
/build/classes/java/main/com/example/weather/model/City$Coord.class
/build/classes/java/main/com/example/weather/model/City.class
/build/classes/java/main/com/example/weather/model/ErrorResponse.class
/build/classes/java/main/com/example/weather/model/Weather.class
/build/classes/java/main/com/example/weather/model/WeatherApiResponse$Clouds.class
/build/classes/java/main/com/example/weather/model/WeatherApiResponse$Coord.class
/build/classes/java/main/com/example/weather/model/WeatherApiResponse$Main.class
/build/classes/java/main/com/example/weather/model/WeatherApiResponse$Sys.class
/build/classes/java/main/com/example/weather/model/WeatherApiResponse$WeatherInfo.class
/build/classes/java/main/com/example/weather/model/WeatherApiResponse$Wind.class
/build/classes/java/main/com/example/weather/model/WeatherApiResponse.class
/build/classes/java/main/com/example/weather/repository/WeatherRepository.class
/build/classes/java/main/com/example/weather/scheduler/WeatherUpdateScheduler.class
/build/classes/java/main/com/example/weather/service/CityService$1.class
/build/classes/java/main/com/example/weather/service/CityService.class
/build/classes/java/main/com/example/weather/service/WeatherService.class
/build/classes/java/main/com/example/weather/WeatherApplication.class
/build/classes/java/test/com/example/weather/service/WeatherServiceTest.class
/build/reports/tests/test/classes/com.example.weather.service.WeatherServiceTest.html
/build/reports/tests/test/css/base-style.css
/build/reports/tests/test/css/style.css
/build/reports/tests/test/js/report.js
/build/reports/tests/test/packages/com.example.weather.service.html
/build/reports/tests/test/index.html
/build/resources/main/db/migration/V1__Create_weather_table.sql
/build/resources/main/application.properties
/build/resources/main/city_list.json
/build/test-results/test/binary/output.bin
/build/test-results/test/binary/output.bin.idx
/build/test-results/test/binary/results.bin
/build/test-results/test/TEST-com.example.weather.service.WeatherServiceTest.xml
/build/tmp/compileJava/compileTransaction/stash-dir/DataInitializer.class.uniqueId0
/build/tmp/compileJava/compileTransaction/stash-dir/WeatherService.class.uniqueId1
/build/tmp/compileJava/compileTransaction/stash-dir/WeatherUpdateScheduler.class.uniqueId2
/build/tmp/compileJava/previous-compilation-data.bin
/build/tmp/compileTestJava/compileTransaction/stash-dir/WeatherServiceTest.class.uniqueId0
/build/tmp/compileTestJava/previous-compilation-data.bin
